- model_class = User

.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:email)

      %th= model_class.human_attribute_name(:first_name)

      %th= model_class.human_attribute_name(:last_name)

      %th= model_class.human_attribute_name(:gender)

      %th= model_class.human_attribute_name(:age)

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email

        %td= user.first_name

        %td= user.last_name

        %td= user.gender

        %td= user.age
