= simple_form_for current_user, url: profile_path, method: :patch, html: { class: 'form-horizontal' } do |f|
  = f.input :email

  = f.error_span :email

  = f.input :first_name

  = f.error_span :first_name

  = f.input :last_name

  = f.error_span :last_name

  = f.input :gender, collection: gender_list, include_blank: false

  = f.error_span :gender

  = f.input :age, collection: 1..120

  = f.error_span :age

  %h3 Interests

  #interests
    = f.simple_fields_for :interests do |interest|
      = render 'interest_fields', f: interest

    .links
      = link_to_add_association 'add interest', f, :interests

  = f.button :submit, class: 'btn-primary'

  = link_to t('.cancel', default: t("helpers.links.cancel")), profile_path, class: 'btn btn-default'
