.page-header
  %h1=t '.title', default: current_user.full_name

%p
  %strong #{ User.human_attribute_name(:email) }:
  %br
  = current_user.email

%p
  %strong #{ User.human_attribute_name(:first_name) }:
  %br
  = current_user.first_name

%p
  %strong #{ User.human_attribute_name(:last_name) }:
  %br
  = current_user.last_name

- if current_user.gender
  %p
    %strong #{ User.human_attribute_name(:gender) }:
    %br
    = current_user.gender

- if current_user.age
  %p
    %strong #{ User.human_attribute_name(:age) }:
    %br
    = current_user.age

- if current_user.interests.any?
  %h4 Interests:

  %table.table.table-striped
    %thead
      %tr
        %th= Interest.human_attribute_name(:name)

        %th= Interest.human_attribute_name(:category)
    %tbody
      - current_user.interests.each do |interest|
        %tr
          %td= interest.name

          %td= interest.category_name

= link_to t('.edit', default: t("helpers.links.edit")), edit_profile_path, class: 'btn btn-success'
