- model_class = Interest
.page-header
  %h1=t '.title', default: model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = interest.name
%p
  %strong= model_class.human_attribute_name(:category) + ':'
  %br
  = interest.category_name

= link_to t('.back', default: t("helpers.links.back")), admin_interests_path, class: 'btn btn-default'
= link_to t('.edit', default: t("helpers.links.edit")), edit_admin_interest_path(interest), class: 'btn btn-default'
= link_to t('.destroy', default: t("helpers.links.destroy")), admin_interest_path(interest), method: "delete", data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-danger'
