- model_class = Source
.page-header
  %h1=t '.title', default: model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:name)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - sources.each do |source|
      %tr
        %td= source.name
        %td
          = link_to t('.destroy', default: t("helpers.links.destroy")), admin_source_path(source), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs btn-danger', id: "source_delete_#{source.id}"

= link_to t('.new', default: t("helpers.links.new")), new_admin_source_path, class: 'btn btn-primary', id: 'new_source'
= link_to 'Refresh Facebook Access Token', auth_facebook_path, class: 'btn btn-primary'
