= simple_form_for [:admin, user], html: { class: 'form-horizontal', id: 'form' } do |f|
  = f.input :email

  = f.input :first_name

  = f.input :last_name

  = f.input :gender, collection: gender_list, include_blank: false

  = f.input :age, collection: 1..120

  = f.input :mobile_phone

  = f.input :password

  = f.input :password_confirmation

  = f.input :admin, as: :boolean, checked_value: true, unchecked_value: false

  %h3 Interests

  = f.association :interests, include_blank: false

  = f.button :submit, class: 'btn-primary'
