.page-header
  %h1=t '.title', default: User.model_name.human.pluralize.titleize
  %p
    =t 'admin.interest_statistic'
    = FemaleHealthInterestsCount.result_for(organization: current_organization)

.users-by-age{ "data-age-stats" => users_by_age.to_json }

= render partial: 'search_postgres', locals: { users: users }

= link_to ' Welcome email',
    welcome_email_admin_users_path, remote: true, class: 'btn btn-success glyphicon glyphicon-envelope', id: "send_welcome_email"

%p
  = paginate users
%p
  = page_entries_info users
%table.table.table-striped
  %thead
    %tr
      %th= User.human_attribute_name(:email)

      %th= User.human_attribute_name(:first_name)

      %th= User.human_attribute_name(:last_name)

      %th= User.human_attribute_name(:mobile_phone)

      %th= User.human_attribute_name(:gender)

      %th= User.human_attribute_name(:age)

      %th= User.human_attribute_name(:interests)

      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - users.each do |user|
      %tr.user_row
        %td= user.email

        %td= user.first_name

        %td= user.last_name

        %td= user.mobile_phone

        %td= user.gender

        %td= user.age

        %td= user.interests_list

        %td
          = link_to t('.show', default: t("helpers.links.show")),
              admin_user_path(user), class: 'btn btn-default btn-xs', id: "user_show_#{user.id}"

          = link_to t('.edit', defaul: t("helpers.links.edit")),
              edit_admin_user_path(user), class: 'btn btn-default btn-xs', id: "user_edit_#{user.id}"

          - if current_user.id != user.id
            = link_to '',
              admin_user_path(user), method: :delete,
              data: { confirm: t('.confirm', default: t("helpers.links.confirm",
                      default: 'Are you sure?')) }, class: 'btn btn-xs btn-danger glyphicon glyphicon-trash', id: "user_delete_#{user.id}"

          %a(href='#' class='btn btn-success btn-xs glyphicon glyphicon-envelope send-user-email' data-user-id="#{user.id}")

          %a(href='#' class='btn btn-success btn-xs glyphicon glyphicon-phone send-user-sms' data-user-id="#{user.id}")

= link_to t('.new', default: t("helpers.links.new")), new_admin_user_path,
    class: 'btn btn-primary', id: 'new_user'

= link_to "Export to CSV", export_admin_users_path({ format: :csv }),
    class: 'btn btn-success', id: 'export_csv'
