= nav_bar fixed: :top, brand: "#{current_user.organization.name}" do
  = menu_group do
    = menu_item "Profile", root_path
    - if current_user.admin
      = menu_item "Admin Panel", admin_users_path
  = menu_group pull: :right do
    = menu_item "Log Out", destroy_user_session_path, method: :delete
