!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Web App
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    - if current_user
      = render 'layouts/navbar'
    .container.main-container
      - if current_user
        - if current_user.admin? && current_user.facebook_auth_expired?
          .alert.alert-warning
            %p Please refresh Facebook Access Token.
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      - if flash[:alert]
        .alert.alert-danger
          = flash[:alert]
      = yield
